In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Add a new column called 'Grade'
df['Grade'] = ['A', 'B', 'C']

In [ ]:
print(df)