In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Using bracket notation
name_column = df['Name']
print(name_column)

In [ ]:
# Using dot notation (only works if column names don't have spaces or special characters)
marks_column = df.Marks
print(marks_column)