In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300],
    'Grade': ['A', 'B', 'C']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Delete the 'Grade' column
df.drop('Grade', axis=1, inplace=True)

In [ ]:
print(df)