In [ ]:
import pandas as pd

In [ ]:
data = {'Name': ['Himel', 'Antu', 'Kabita'],
        'Math': [50, 75, 80],
        'English': [90, 58, 78]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
def calculator(row):
    return row['Math'] + row['English']

In [ ]:
df['Total'] = df.apply(calculator, axis=1)

In [ ]:
print(df)