In [ ]:
import pandas as pd

In [ ]:
# Create a dictionary of Series
data = {
    'Name': pd.Series(['Himel', 'Abonti', 'Kabita']),
    'Marks': pd.Series([100, 200, 300])
}

In [ ]:
# Create a DataFrame from the dictionary
data_frame = pd.DataFrame(data)

In [ ]:
print(data_frame)