In [ ]:
import pandas as p

In [ ]:
Data = (["Himel", 100, "CSE"],["Abonti", 200, "Physics"], ["Kabita", 300, "EEE"])

In [ ]:
col = ["Name", "Marks", "Department"]

In [ ]:
DataF = p.DataFrame(Data, columns=col)

In [ ]:
print(DataF)

In [ ]:
'''
     Name  Marks Department
0   Himel    100        CSE
1  Abonti    200    Physics
2  Kabita    300        EEE
'''