In [ ]:
import pandas as pd

In [ ]:
# Create a Pandas Series with integer data type
series_int = pd.Series([1, 2, 3, 4, 5])

In [ ]:
# Get the data type of the Series
dtype_int = series_int.dtype

In [ ]:
print(dtype_int)

In [ ]:
# Create a Pandas Series with float data type
series_float = pd.Series([1.0, 2.5, 3.7])

In [ ]:
# Get the data type of the Series
dtype_float = series_float.dtype

In [ ]:
print(dtype_float)