In [ ]:
import pandas as pd

In [ ]:
# Creating a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
def add_one(df):
    return df + 1

In [ ]:
def multiply_by_two(df):
    return df * 2

In [ ]:
# Chain the custom functions using pipe()
result = df.pipe(add_one).pipe(multiply_by_two)

In [ ]:
print("Result after chaining custom functions:")
print(result)