In [ ]:
import pandas as pd

In [ ]:
# Sample data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emma'],
    'Age': [23, 30, 25, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

In [ ]:
# Create a DataFrame
df = pd.DataFrame(data)

In [ ]:
path = "Output/output2.xlsx"

In [ ]:
df.to_excel(path, sheet_name="Sheet2", index=False)

In [ ]:
print("Completed....")