In [ ]:
import pandas as p

In [ ]:
list = [12, 13, 14, 15, 16, 17]

In [ ]:
value = p.Series(list)

In [ ]:
print(value.drop([1,3,5]))