In [ ]:
import pandas as p

In [ ]:
List = [12, None, None, 15, 16, None]

In [ ]:
value = p.Series(List)

In [ ]:
print(value.fillna("Himel"))