In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300],
    'Grade': ['A+', 'A-', 'A']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
dfHimel = df.loc[0]
dfAbonti = df.loc[1]
dfKabita = df.loc[2]

In [ ]:
print(dfHimel)
print(dfAbonti)
print(dfKabita)