In [ ]:
import pandas as pd

In [ ]:
# Creating a sample Series
s = pd.Series(['apple', 'banana', 'pherry'])

In [ ]:
# Replace 'a' with 'X' in each string of the Series
result = s.str.replace('a', 'X')
print(result)

In [ ]:
# Replace 'p' with '_' in each string of the Series
result2 = s.str.replace('p', '_')
print(result2)