In [ ]:
import pandas as pd

In [ ]:
# Creating a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
def double(x):
    return x * 2

In [ ]:
result = df.applymap(double)

In [ ]:
print(result)