In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300],
    'Grade': ['A+', 'A-', 'A']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
NewRow = {'Name': 'Bibhuti', 'Marks': 400, "Grade": "B+"}
df = df.append(NewRow, ignore_index=True)

In [ ]:
print(df)