In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300],
    'Grade': ['A+', 'A-', 'A']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.drop(index=2, inplace=True)

In [ ]:
print(df)