In [ ]:
import pandas as pd

In [ ]:
# Create a DataFrame
data = {
    'Name': ['Himel', 'Abonti', 'Kabita'],
    'Marks': [100, 200, 300],
    'Grade': ['A+', 'A-', 'A'],
    'Subject': ['CSE', 'EEE', 'Math']
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Slice columns by labels
subset_columns = df[['Name', 'Marks']]

In [ ]:
print(subset_columns)