In [ ]:
import pandas as pd

In [ ]:
# Creating a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 30, 40, 50, 60],
        'Count': [1, 2, 3, 4, 5, 6]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
# Display the original DataFrame
print("Original DataFrame:")
print(df)

In [ ]:
# Filter rows where the Category is
# either 'A' or 'C'.
filtered_df = df[df['Category'].isin(['A','C'])]

In [ ]:
print(filtered_df)